<!DOCTYPE html>
<html>
<head>
  <title>Pairwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" >
    <br>
    <baser>

  <div style="height:50px; width:50px; background-color:lightgrey ; border-radius:5px">
  </div>
  <p>Code Snippets</p>
  <hr>

  <%= link_to "Edit Snippets", root_path %>
  |
  <%= link_to "Snippets", kinds_path %>


  <%= yield %>

  <% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>

</div>
</body>
</html>
